.col-12 {
  display: flex;
  justify-content: center;
  .card {
    img {
      max-height: 150px;
    }
    margin: 10px;
    width: 18rem;
  }
}

@media only screen and (max-width: 772px) {
  .col-12 {
    display: block;
    margin-left: 27px;
  }
}

.home-content.middle {
  margin: 20px 0px 20px 0px;
}

.jumbotron.jumbotron-fluid {
  background-color: #c3daf1;
  margin-top: 10px;
}

h2 {
  color: #000099;
}
