.nav {
  margin: -15px -15px 0px -10px;
  background: linear-gradient(#dddddd, #999999);

  .nav-item {
    .nav-link {
      color: #258c9a;
      &:hover {
        background: #f5b75f;
      }
      .active {
        color: #1e4d8a;
      }
    }
  }

  .pull-right {
    display: flex;
  }
}

@media (max-width: 768px) {
  .nav {
    .float-right {
      display: flex;
      margin-left: 35%;
    }
  }
}
